[submodule "source/thirdparty/JRSwizzle"]
	path = source/thirdparty/JRSwizzle
	url = git://github.com/rentzsch/jrswizzle.git
[submodule "source/thirdparty/MMTabBarView"]
	path = source/thirdparty/MMTabBarView
	url = git://github.com/tylerberry/MMTabBarView.git
[submodule "source/thirdparty/Sparkle"]
	path = source/thirdparty/Sparkle
	url = git://github.com/tylerberry/Sparkle.git
[submodule "source/thirdparty/MASPreferences"]
	path = source/thirdparty/MASPreferences
	url = git://github.com/tylerberry/MASPreferences.git
[submodule "source/thirdparty/BFColorPickerPopover"]
	path = source/thirdparty/BFColorPickerPopover
	url = git://github.com/tylerberry/BFColorPickerPopover.git
[submodule "source/thirdparty/PLWeakCompatibility"]
	path = source/thirdparty/PLWeakCompatibility
	url = git://github.com/plausiblelabs/PLWeakCompatibility.git
[submodule "source/thirdparty/JUEmptyView"]
	path = source/thirdparty/JUEmptyView
	url = https://github.com/tylerberry/JUEmptyView.git
